body {
    background-color: rgb(239, 247, 255);
    margin: 0px;
    font-family: sans-serif, Arial;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 50px;
    margin-top: 0px;
}

.extraContainer {
    background-color: rgb(250, 250, 250);
    border: 1px solid lightgray;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    padding-right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.inputsWidth {
    width: 180px;
    padding: 10px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-groupResults {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    padding: 8px;
    margin: 10px;
}

.input-groupResults label {
    visibility: hidden;
}

.input-group label {
    width: 150px;
    font-weight: bold;
    font-size: large;
}

.left-column .input-group label {
    text-align: right;
    margin-right: 10px;
}

.inputDuration label {
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nameOfInvestmentH3A {
    color: rgb(54, 139, 213);
    font-size: 26px;
}

.nameOfInvestmentH3B {
    color: rgba(255, 20, 78, 0.85);
    font-size: 26px;
}



#submitInput:hover {
    letter-spacing: 2px;
}

#submitInput {
    transition: letter-spacing 0.25s;
    letter-spacing: 1px;
    width: 204px;
    margin-top: 20px;
    padding: 10px;
    background: linear-gradient(45deg, rgb(54, 139, 213) 33%, rgba(255, 20, 78, 0.85) 66%, rgba(255, 20, 78, 0.85) 100%);

    color: white;
    border: none;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 5px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

.results {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: flex-end;
}

.leftResults {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    grid-column: 1;
}

.rightResults {
    margin-left: 70px;

    display: flex;
    flex-direction: column;
    grid-column: 2;
}

#investmentDuration {
    margin-top: 20px;
}

.durationAndCreateBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.centerPls {
    min-width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result {
    font-size: xx-large;
}

.result2 {
    font-size: xx-large;
}

.canvas {
    display: flex;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    background-color: aliceblue;
}

.canvas2 {
    width: 66%;
    background-color: aliceblue;

}