body {
    background-color: aliceblue;
    margin: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.extraContainer {
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.inputsWidth {
    width: 180px;
    padding: 10px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-groupResults {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: larger;
    padding: 8px;
    margin: 10px;
}

.input-group label {
    width: 150px;
    font-weight: bold;
    font-size: large;
}

.left-column .input-group label {
    text-align: right;
    margin-right: 10px;
}

.inputDuration label {
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: flex-end;
}

.leftResults {
    display: flex;
    flex-direction: column;
    grid-column: 1;
}

.rightResults {
    display: flex;
    flex-direction: column;
    grid-column: 2;
}

#investmentDuration {
    margin-top: 20px;
}

.durationAndCreateBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.centerPls {
    min-width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result {
    font-size: xx-large;
}

.result2 {
    font-size: xx-large;
}

.canvas {
    display: flex;
    width: 100%;
    height: 50vh;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.canvas2 {
    width: 66%;
}